.grid {
  padding-top: 20px;
  padding-bottom: 50px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1rem;
  row-gap: 0.75rem;
  column-gap: 1rem;
}

@media (min-width: 576px) {
  .grid {
    padding-top: 35px;
  }
}
