/* Wishlist button */
.heart {
  width: 26px;
  height: 26px;
  stroke-width: 1.5px;
}

.heart path {
  color: var(--mantine-color-cyan-7);
  fill: transparent;
}

.active path {
  color: var(--mantine-color-cyan-7);
  fill: var(--mantine-color-cyan-7);
}

.heart-button:hover .heart path,
.heart-button:focus .heart path {
  transition: fill 500ms ease, color 500ms ease;
}
