.control {
  background-color: var(--mantine-color-cyan-6);
  border-radius: 2px;
  padding: 12px 12px 12px 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

.control:focus-visible {
  outline: 0.125rem solid var(--mantine-color-cyan-5);
  outline-offset: 0.125rem;
}

.label {
  color: white;
  font-weight: 600;
  font-size: 0.875rem;
}

.chevron {
  margin-left: 5px;
  transition: transform 200ms ease-in;
}

.chevron.active {
  transform: rotate(180deg);
}

@media (min-width: 576px) {
  .control {
    display: none;
  }
}
