.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.image-wrapper {
  position: relative;
  width: 100%;
  min-height: 250px;
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
}

@media (min-width: 500px) {
  .grid {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (min-width: 630px) {
  .grid {
    grid-template-columns: 1fr 2fr;
    gap: 30px;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1.5fr;
  }
}

@media (min-width: 1200px) {
  .grid {
    grid-template-columns: 1fr 2fr;
  }
}
